name: DeployFast CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t deployfast-demo .

      - name: Run container
        run: |
          docker run -d -p 80:3000 deployfast-demo
